*{
    margin: 0;
    padding: 0;
}
:root{
    --1:#0E5B0E;
    --2:#020B07;
    --3:#FAF9F7;
}

body{
    background-color: var(--2);
    font-family: Verdana;
}


.titu{
    background-color: var(--1);
    display:flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    color: var(--3);
}

#contenedor{
    width: min(100%, 1000px);
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carta{
    width: 230px;
    margin-top: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

.carta img {
    width: 100%;
}

.carta span{
    color: #6e6e6e;
    font-weight: 500;
}