<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Reto 3</title>
</head>
<body>
    <div class="titulo">
        <h1>Reto 3</h1>
    </div>
    <a href="../index.html"><input type="submit" class="volver" value="Volver"></a>
    <div class="caja">
        <div class="formu">
            <form onsubmit="calculateTriangle(); return false;">
                <input type="text" placeholder="Ingrese el lado 1 del Triángulo" id="lado1"> 
                <input type="text" placeholder="Ingrese el lado 2 del Triángulo" id="lado2">
                <input type="text" placeholder="Ingrese el lado 3 del Triángulo" id="lado3">
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../js/challenge3.js"></script>
</body>
</html>