<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Reto 1</title>
</head>
<body>
    <div class="titulo">
        <h1>Reto 1</h1>
    </div>
    <a href="../index.html"><input type="submit" class="volver" value="Volver"></a>
    <div class="caja">
        <div class="formu">
            <form onsubmit="wordChallenge(); return false;">
                <input type="text" placeholder="Ingrese una palabra" id="word"> 
                <br>
                <select id="desicion">
                    <option value="">Opciones</option>
                    <option value="1">Su longitud</option>
                    <option value="2">Palabra en mayúsculas</option>
                    <option value="3">Palabra en minúsculas</option>
                    <option value="4">El primer carácter</option>
                </select>
                <br>
                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>
    <script type="text/javascript" src="../js/challenge1.js"></script>
</body>
</html>